##define configurations profile specifically in a single YAML file

#Used for all profiles
#logging:
 # level:
  #  '[org.springframework]': info
---

#activating profiles

spring:
  profiles:
    active:
    - dev
      
#'dev' profile only
---
spring:
  config:
    activate:
      on-profile:
        - dev
  jdbc:
    template:
      max-rows: 500
  datasource:
    url: jdbc:h2:mem:testdb
logging:
  level:
    '[org.springframework]': info
    

#---

#'prod' profile only

#spring:
#  config:
#    activate:
#      on-profile:
#      - prod
#  mail:
#    host: 0000
#    username: prodd
 